################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStoreApplication/.vs/BookStoreApplication/v16
/BookStoreApplication/obj/Debug/netcoreapp3.1
/BookStoreApplication/obj
/BookStoreApplication/wwwroot/lib
