body {
}
.logo{
    height:200px;
    width:200px;
}
.jumbotron{
    background:none;
}
.box-shadow{
    box-shadow: 0 .25rem .75rem rgba(0,0,0,.05);
}
button.accept-policy{
    font-size:1rem;
    line-height:inherit;
}
html{
    position:relative;
    min-height:100%;
}
body{
    margin-bottom:60px;
}
.footer{
    position:absolute;
    bottom:0;
    width:100%;
    white-space:nowrap;
    line-height:60px;
}
.membership-img{
    width:80%;
}