@{ 
    ViewData["Title"] = "Home";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to bookStore Application</h1>
        <p class="lead text-muted">
            This application is written by Muhammad Shirzad in ASP.NETCore, I did my best for using core concept of asp.netcore 
            in this application, i hope you can use from it in a good manner.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Book</a>
        </p>
    </div>
</section>
<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top Books</h3>
        @await Component.InvokeAsync("TopBooks")
        <div class="row">
            <div class="col-md-4">
              <partial name="_BookThumbnail" model="new BookModel()" />
            </div>
            <div class="col-md-4">
                <partial name="_BookThumbnail"  model="new BookModel()"/>
            </div>
            <div class="col-md-4">
                <partial name="_BookThumbnail" model="new BookModel()" />
            </div>
        </div>
    </div>
</div>

