@model IEnumerable<BookModel>
@{
    ViewData["Title"] = "AllBooks";
}
<div class="container">
    <h3 class="display-4">All Books</h3>
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4">
              <partial name="_BookThumbnail" model="@book" />
            </div>
        }

    </div>
</div>
